<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring5.web.mbr.MemberMapper">
	<insert id="post">
		INSERT INTO MEMBER
		(USERID, TEAMID, NAME, AGE, ROLL, PASSWORD, SSN, GENDER, SUBJECT, PHONE, EMAIL)
		VALUES(#{userid}, #{teamid}, #{name}, #{age}, #{roll}, #{password}, #{ssn}, #{gender}, #{subject}, #{phone}, #{email});
	</insert>
	<select id="list" resultType="com.spring5.web.mbr.Member">
		SELECT * 
		FROM MEMBER
		
	</select>
	<select id="get" resultType="com.spring5.web.mbr.Member">
  		SELECT 
  		USERID, TEAMID, NAME, AGE, ROLL, PASSWORD, SSN, GENDER, SUBJECT, PHONE, EMAIL
  		FROM MEMBER
  		<where>
  			<if test=" userid != null and userid != '' ">
  				USERID LIKE #{userid}
  			</if>
  			<if test=" password != null and password != '' ">
  				AND PASSWORD LIKE #{password}
  			</if>
  		</where>
	</select>
	<select id="count" resultType="int">
  		SELECT COUNT(*) FROM MEMBER
  		<where>
  			<if test=" userid != null and userid != '' ">
  				USERID LIKE #{userid}
  			</if>
  		</where>
	</select>
	<update id="update">
  		UPDATE MEMBER SET
   		PASSWORD = #{password},
    	TEAMID = #{teamid},
    	ROLL = #{roll}
  		WHERE USERID LIKE #{userid}
	</update>
	<delete id="delete">
  		DELETE 
  		FROM MEMBER
  		WHERE USERID LIKE #{userid}
  		AND PASSWORD LIKE #{password}
	</delete>
</mapper>