<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>GMS-MVC</display-name>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>*</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
<!-- 웹 태그 어플리케이션에서 사용될 필터를 지정 -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
<!-- 웹 컨테이너에 의해 호출되어 필터에 서비스가 시작됨을 나타냄 -->
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
<!-- 특정 자원에 대해 어떤 필터를 사용할지 지정 -->
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
<!-- 클라이언트가 특정 자원(여기서는 모든 자원)을 요청할 경우 encodingFilter가 사용되도록 지정-->
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>