/*-- Start common style--*/
body{
	font-family: 'Malgun Gothic', 'Verdana';
	background-color: #004080;
	color: #ffffff;
	margin : 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6{
	font-size: 1.5em;
}
h1{
	font-size: 2em;
	padding-bottom: 0;
	margin-bottom: 0;
}

/*-- End common style--*/

/*-- start main & main page --*/
div#wrapper{
	width: 90%;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	
}
div#header{
	position: relative;
	margin-bottom: 0;
	padding-bottom: 0;
	color: #000;
}
div#title{
	float: left;
	text-align: left;
	display: block;
}
div#login_box{
	float: right;
	margin: 10px;
	font-size: 1.1em;
	display: block;
	color: #fff;
}
/* 마우스를 가져 갔을때 */
div#Login_box a:hover{
	color: #fff;
	text-decoration: none;
}
/* 실행되면 */
div#Login_box a:active{
	color: #00ffff;
	text-decoration: none;
}
div#menu_box{
	margin-top: 40px;
	clear: both;
}
ul#menu{
	text-align: right;
	margin: 0;
	border-bottom: 1px #80ffff;
	position: relative;
}
ul#menu li{
	display: inline;
	list-style: none;
	background-color: #0000ff;
}
ul#menu li a{
	padding: 10px 20px;
	background-color: #ff0000;
	font-weight: bold;
	text-decoration: none;
	line-height: 2.8em;
	color: black;
}
ul#menu li a:hover{
	background-color: #ff80ff;
	text-decoration: none;
}
ul#menu li a:active{
	background-color: #8000ff;
	text-decoration: none;
}
div#header h1{
	color: #fff;
	padding: 5px 0;
	margin: 0;
	border: none;
	line-height: 2em;
	font-weight: bold;
	font-size: 32px;
}
div#content{
	pause: 15px 30px;
	/* pause: 15px 30px 15px 30px; */
	background-color: #00ffff;
	margin-bottom: 30px;
	min-height: 400px;
}
div#content_box{
	clear: both;
	margin-top: 40px;
}
div#footer{
	clear: both;
	color: #fff;
	text-align: center;
	margin: 0;
	padding:  : 10px 0;
	line-height: normal;
	font-size: 1.5em;
}
/*-- end main & main page --*/


/* end user_login
h1 {text-align: center;}
.margin_center {margin: 0 auto;}
.login_form_box, .join_form_box {border: 1px solid black; width: 300px; margin: 0 auto;}
.login_input_box {font-size: 20px; background-color: yellow;}
.login_input_box_font {font-size: 15px; color: orange; font-weight: bold;}
#submit_but {font-size: 20px; background-color: red; color : white; font-weight: bold;}
end user_login */

