
body{
	font-family: 'Malgun Gothic', 'Verdana';
	background-color: #004080;
	color: #000000;
	margin : 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6{
	font-size: 1.5em;
}
h1{
	font-size: 2em;
	padding-bottom: 0;
	margin-bottom: 0;
	text-align: center;
}

/*-- End common style--*/

/*-- start main & main page --*/
div#wrapper{
	width: 90%;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	
}
div#header{
	position: relative;
	margin-bottom: 0;
	padding-bottom: 0;
	color: #000;
}
div#header h1{
	color: #fff;
	padding: 5px 0;
	margin: 0;
	border: none;
	line-height: 2em;
	font-weight: bold;
	font-size: 32px;
}
div#title_box{
	float: left;
	text-align: left;
	display: block;
}
div#login_box{
	float: right;
	margin: 10px;
	font-size: 1.1em;
	display: block;
	color: #fff;
}
/* 마우스를 가져 갔을때 */
div#Login_box a:hover{
	color: #fff;
	text-decoration: none;
}
/* 실행되면 */
div#Login_box a:active{
	color: #00ffff;
	text-decoration: none;
}
div#menu_box{
	margin-top: 40px;
	clear: both;
}
ul#menu{
	text-align: right;
	margin: 0;
	border-bottom: 1px #80ffff;
	position: relative;
}
ul#menu li{
	display: inline;
	list-style: none;
	background-color: #0000ff;
}
ul#menu li a{
	padding: 10px 20px;
	background-color: #ff0000;
	font-weight: bold;
	text-decoration: none;
	line-height: 2.8em;
	color: black;
}
ul#menu li a:hover{
	background-color: #ff80ff;
	text-decoration: none;
}
ul#menu li a:active{
	background-color: #8000ff;
	text-decoration: none;
}

div#content{
	padding: 15px 30px;
	/* pause: 15px 30px 15px 30px; */
	background-color: #ffffff;
	margin-bottom: 30px;
	min-height: 400px;
}
div#content_box{
	clear: both;
	color : #0080ff;
	margin-top: 40px;
}
div#footer{
	clear: both;
	color: #fff;
	text-align: center;
	margin: 0;
	padding:  : 10px 0;
	line-height: normal;
	font-size: 1.5em;
}
/*-- end main page --*/

div#mypage_content_box{
	background-color : #ffffff;
	color: #000000;
	text-align: -webkit-center;
}
ul#mypage_info_list li{
	text-align : left;
	display: inline;
	list-style: none;
}
/*-- end mypage --*/


div#login_content{width: 90%; margin: 0 auto; text-align: -webkit-center;}

form#login_form_box {border: 3px solid #f1f1f1; width: 50%; background-color: #ffffff;}

div.login_container input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

div.login_container button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

div.login_container button:hover {
    opacity: 0.8;
}

div.login_container.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

div.login_imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

div.login_imgcontainer img.avatar {
    width: 40%;
    border-radius: 50%;
}

div.login_container {
    padding: 16px;
    background-color:#f1f1f1
}

div.login_container span.pw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
		div.login_container span.pw {
	       display: block;
	       float: none;
	    }
		div.login_container button#login_cancelbtn {
	       width: 100%;
	    }
	}

/* end user_login */
.bg_color_yellow{background-color: #ffff00}

